.body{
    margin: 0px 150px;  
}
.gray{
    color: rgba(0, 0, 0, 0.5);
}
/* nav bar style  */
.nav-bar {
    justify-content: space-between; 
    margin: 50px 150px;
    align-items: center;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0px;
}

.nav-item {
    list-style: none;
    text-align: center;
}

/* basic information style  */
.contacts{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Istiak's  basic information style  */
.my-image{
    height: auto;
    width: 150px;
    margin-left: 33%;
    margin-right: 33%;
}
.my-image:hover{
    transform: scale(1.1);
}
.basic-info{
    height: 500px;
    width: 450px;
}
.name{
    text-align: center;
}
/* ----------------------------------------------------------- */

/* Education section style   */
/* .education-section{
    height: 500px;
    width: 1050px;
} */



/* footer sections style   */
.footer{
  
    align-content: center;
    margin-top: 100px;
}
.footer-text{
    font-size:small;
    color: rgb(104, 104, 104);
    text-align: center;
}
.info-icon{
    display: flex;
    justify-content: space-between;
    margin: 0px 500px 20px 500px;
}
.icon-box{
    border: 2px;
    border-color: gray;
    border-radius: 20px;
    height: 30px;
    width: 30px;
    background-color:rgb(158, 198, 200);
}
.icon-box:hover{
    transform: scale(1.1);
    background-color: rgb(102, 122, 111);
}
.icon{
    padding: 4px;
    height: auto;
    width: 20px;
}